@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
