/* Surgical overrides here; be mindful of alternate themes */

:root {
  --roost-gray: rgb(187 193 190);
  --roost-charcoal: hsl(80, 22%, 13%);
  --roost-yellow: rgb(238 238 0);
  --roost-peach: rgb(247 187 128);
  --roost-muddy: rgb(229 217 136);

  --sidebar-resize-indicator-space: 0;
}

.light, html:not(.js), .navy {
  --bg: rgb(250 250 250);
  --fg: var(--roost-charcoal);

  --sidebar-bg: var(--roost-charcoal);
  --sidebar-fg: rgba(255 255 255 / 0.9);
  --sidebar-non-existant: #5c6773;
  --sidebar-active: var(--roost-muddy);
  --sidebar-spacer: var(--roost-muddy);
  --sidebar-header-border-color: oklch(from var(--roost-yellow) calc(l * 0.95) c h);

  --icons: white;
  --icons-hover: var(--roost-yellow);

  --links: inherit;
}

.navy {
  --bg: color-mix(var(--roost-charcoal) 90%, black);
  --fg: rgba(255 255 255 / 0.9);
}

#mdbook-theme-toggle {
  display: none;
}

#mdbook-menu-bar {
  background-color: var(--roost-charcoal);
  border: none;
  box-shadow: 0 0.25em 1em rgba(0 0 0 / 0.25);
}

#mdbook-sidebar-resize-handle {
  background-color: var(--sidebar-bg);
}

.content {
  padding: 2em 1em 1em;
}

.content a {
  font-weight: bold;
  text-decoration: underline;
}

a:link.mobile-nav-chapters {
  color: var(--roost-yellow);
}

.blockquote-tag {
  background: color-mix(var(--fg) 3%, transparent);
  border-radius: 0.25em;
  padding: 1em;
}
